* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0f1b4c;
    --bg-color: orange; /* #F5FAFE; */
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
}

/* Common-Thành phần dùng chung */
a {
    text-decoration: none;
}

.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-right: auto;
    margin-left: auto;
}

.btn {
    display: inline-block;
    min-width: 98px;
    padding: 18px 16px;
    background: var(--primary-color);
    border-radius: 12px;
    font-weight: 500;
    font-size: 1.3rem;
    text-align: center;
    color: #ffffff;
}

.btn:hover {
    opacity: 0.9;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.line-clamp-1 {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp-1, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Header */
.header {
    /* background-color: #e6f0ff; */
    background: var(--bg-color);
    height: 100vh;
    position: relative;
}

.navbar {
    display: flex;
    align-items: center;
    padding-top: 38px;
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar .action {
    margin-left: auto;
}

.navbar ul a {
    font-weight: 500;
    font-size: 1.4rem;
    color: #4f5361;
    padding: 8px 14px;
}

.navbar ul a:hover {
    text-decoration: underline;
}

.navbar .action-link {
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--primary-color);
}

.navbar .action-btn {
    padding: 13px 16px;
    margin-left: 18px;
    border-radius: 8px;
    font-size: 1.4rem;
}

.hero {
    margin-top: 130px;
}

.hero .info {
    width: 50.36%;
}

.hero .sub-title {
    font-weight: 500;
    line-height: 1.5em;
    font-size: 1.8rem;
    letter-spacing: 0.01em;
    color: #687690;
}

.hero h1.title {
    margin-top: 8px;
    font-weight: 700;
    font-size: 6.4rem;
    line-height: 1.19em;
    color: #000336;
}

.hero .desc {
    margin-top: 30px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.78em;
    color: #5a6473;
}

.hero-cta {
    min-width: 170px;
    margin-top: 40px;
}

.hero-img {
    position: absolute;
    bottom: 0;
    right: calc(((100vw - 1110px) / 2) - 100px);
}

/*======= Clients =======*/
.clients {
    margin-top: 79px;
    /* background: var(--bg-color); */
    padding: 43px 0px 64px;
}

.clients .row {
    display: flex;
    justify-content: space-between;
}

.clients .desc {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25em;
    color: #7d8589;
}

.clients .row-desc {
    margin-top: 23px;
}

.clients .images {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
}

.clients .images a {
    display: flex;
    align-items: center;
    height: 90px;
    padding: 0px 42px;
    /* background-color: green; */
    border-radius: 12px;
}

.clients .images a:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

/* ======== Guide ======== */
.guides {
    margin-top: 40px;
    /* background-color: var(--bg-color); */
    padding: 93px 0px 79px;
}

.guides .sub-title {
    position: relative;
    font-weight: 600;
    font-size: 3.5em;
    line-height: 1;
    text-align: center;
    color: #000339;
}

.guides .sub-title::before {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    display: inline-block;
    width: 41px;
    height: 4px;
    background: #000339;
    color: black;
    border-radius: 12px;
}

.guides .desc {
    margin: 20px auto 0px;
    max-width: 459px;
    width: 459px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.875em;
    text-align: center;
    color: #5a6473;
}

.list-guide {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.guide-item {
    margin: 0px 70px;
    text-align: center;
}

.guide-item .title {
    margin-top: 26px;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.1;
    color: #3b3c45;
}

.guide-item .link {
    display: inline-block;
    margin-top: 10px;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.5em;
    color: #0689ff;
}

.guide-item .arrow {
    margin-left: 6px;
}

.guide-cta {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.guide-cta .btn {
    min-width: 170px;
}

/* ======== Featured ======== */
.featured {
    margin-top: 41px;
    padding: 110px 0px;
    /* background-color:  #F5FAFE; */
    background-color: var(--bg-color);
}

.featured .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    color: #000339;
}

.featured .row {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.featured .desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #5a6473;
}

.featured .link {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #0689ff;
}

.featured .link .arrow {
    margin-left: 8px;
}

.featured .list {
    display: flex;
    gap: 30px;
    margin-top: 70px;
}

.featured .item {
    flex: 1;
    border-radius: 12px;
}

.featured .item .thumb {
    width: 100%;
    object-fit: cover;
    height: 227px;
    border-radius: 12px 12px 0px 0px;
    vertical-align: bottom;
}

.featured .item .body {
    padding: 17px 20px 24px;
    background-color: #fff;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.featured .item .title a {
    font-weight: 600;
    font-size: 2rem;
    line-height: 1;
    color: #000339;
}

@supports ((-webkit-background-clip: text) or (background-clip: text)) {
    .featured .item .title a:active {
        color: transparent;
        background-color: #4158d0;
        background-image: linear-gradient(
            43deg,
            #4158d0 0%,
            #c850c0 46%,
            #ffcc70 100%
        );
        background-clip: text;
        -webkit-background-clip: text;
    }
}

.featured .item .desc {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.5em;
    color: #a3a6ab;
    margin-top: 11px;
    word-break: break-all;
}

.featured .item .info {
    display: flex;
    align-items: center;
    margin-top: 21px;
}

.featured .item .icon:not(:first-child) {
    margin-left: 23px;
}

.featured .item .label {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1;
    letter-spacing: 0.01em;
    color: #4d4d52;
    margin-left: 8px;
}

/* Stats */
.stats {
    /* background-color: var(--bg-color); */
    margin-top: 75px;
    padding: 50px 0px;
}

.stats .content {
    width: 1048px;
}

.stats .row {
    display: flex;
}

.stats .img-block,
.stats .info {
    width: 50%;
}

.stats .img-block {
    position: relative;
}

.stats .info {
    padding: 79px 0px 0px 165px;
}

.stats-trend {
    width: 239px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fff;
    border-radius: 0px 0px 12px 12px;
    padding: 45px 22px 40px;
}

.stats .value {
    font-weight: 700;
    font-size: 2.6rem;
    letter-spacing: 0.01em;
    color: #000339;
}

.stats-trend .icon {
    margin-left: auto;
}

.stats .stats-trend .desc {
    margin: 8px 0px 26px;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #a7a7a7;
}

.stats-trend .separate {
    height: 1.2px;
    background-color: #e9e9e9;
}

.stats .avatar-block {
    margin-top: 26px;
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 23.34px 19.92px;
}

.stats .avatar-group {
    display: flex;
}

.stats .avatar {
    object-fit: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: -10px;
}

.stats .avatar-1 {
    background-color: green;
    font-weight: 450;
    font-size: 2.26076rem;
    letter-spacing: -0.02em;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stats .img-block .image {
    display: block;
    margin-left: auto;
    width: 400px;
    height: 460px;
    object-fit: cover;
    border-radius: 12px;
}

.stats .sub-title {
    position: relative;
    width: 269px;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 129%;
    color: #000339;
}

.stats .sub-title::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0px;
    display: inline-block;
    width: 41px;
    height: 4px;
    background: #000339;
    border-radius: 12px;
}

.stats .info .desc {
    margin-top: 20px;
    width: 309px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 188%;
    color: #5a6473;
}

.stats .row-qty {
    margin-top: 110px;
    justify-content: space-between;
}

.stats .qty-item {
    margin-left: 32px;
}
.stats .row-qty .qty {
    font-weight: 600;
    font-size: 6.4rem;
    line-height: 1;
    color: #000000;
}

.stats .qty-item > .qty-desc {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #7b8087;
    margin-top: 24px;
}

.subscription {
    margin-top: 90px;
}

.subscription .body {
    display: flex;
    align-items: center;
    position: relative;
    background-color: #063183;
    height: 370px;
    border-radius: 20px;
}

.subscription .info {
    width: 671px;
    padding: 0px 90px 0px 80px;
}

.subscription .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.5;
    color: #ffffff;
}

.subscription .desc {
    margin-top: 15px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88em;
    color: #ffffff;
    opacity: 0.75;
}

.subscription .btn {
    margin-top: 20px;
    background-color: #fff;
    color: #002366;
    min-width: 151px;
}

.subscription .image {
    position: absolute;
    bottom: 0px;
    right: 221px;
}

/* footer */
.footer {
    margin-top: 55px;
    padding: 50px 0 59px;
    background-color: orange;
}

.footer .row {
    display: flex;
}

.footer .row-top {
    gap: 0px 185px;
}

.footer .heading {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #1c1c1d;
}

.footer .list,
.footer .desc {
    margin-top: 42px;
}

.footer .item {
    margin-top: 18px;
}

.footer .item a {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5em;
    color: #7a7a7e;
    white-space: nowrap;
}

.footer .desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #7a7a7e;
}

.footer .social {
    margin-top: 40px;
    display: flex;
    gap: 16px;
}

.footer .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28.5px;
    height: 28.5px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.footer .social-link:hover {
    background-color: #ebebeb;
}

.footer .row-bottom {
    justify-content: space-between;
    align-items: center;
    margin-top: 81px;
}

.footer .copyright {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #c2c2c2;
}
